<h1>Add part to order</h1>

<%= render partial: 'errors', locals: {errors: @errors} %>

<%= form_for :orders_part, url: order_orders_parts_path do |f| %>
  <%= f.label "Part #" %>:
  <%= f.number_field :part_id %><br />
  <%= f.label "Quantity" %>:
  <%= f.number_field :quantity %><br />

  <%= f.submit "Add Part" %>
<% end %>

<%= link_to "Review Order", order_path(@order) %>
