<div class="">
  <h1><%= @warehouse.name %> in <%= @warehouse.location %></h1>
  <table class="list">
    <tr >
      <th>Part #</th>
      <th>Name</th>
      <th>Quantity</th>
    </tr>
    <% @warehouse.parts_warehouses.each do |parthouse| %>
      <tr>
        <td><%= parthouse.part.id %></td>
        <td><%= link_to parthouse.part.name, part_path(parthouse.part)%></td>
        <td><%= parthouse.quantity %></td>
      </tr>
    <% end %>
  </table>
</div>
