<div class="">
  <h1><%= @warehouse.location %></h1>
  <%= render partial: 'errors', locals: {errors: @errors} %>
  <table class="list">
    <tr >
      <th>Part #</th>
      <th>Name</th>
      <th>Stock</th>
      <th>Quantity to claim</th>
    </tr>
    <% @warehouse.parts_warehouses.order('part_id ASC').each do |parthouse| %>
      <tr>
        <td><%= parthouse.part.id %></td>
        <td><%= link_to parthouse.part.name, part_path(parthouse.part)%></td>
        <td><%= parthouse.quantity %></td>
        <% if parthouse.quantity > 0 %>
        <%= form_tag(warehouse_path(parthouse.part), method: "patch") do %>
        <td class="list">
          <%= text_field_tag "location_part[#{parthouse.warehouse.id}]" %>
        </td>
        <td><%= submit_tag("Claim") %></td>
        <% end %>
        <% if parthouse.quantity < 10 %>
          <td class="low-quantity">Stock low!</td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>
