<!DOCTYPE html>
<html>
  <head>
    <title>Rutherford Rocket Labs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Kanit">
  </head>

  <body>
    <header>
      <div class="banner">
        <div class="banner-stripe" id="banner-top"></div>
        <div class="banner-stripe" id="banner-mid"></div>
        <div class="banner-stripe" id="banner-bot"></div>
      </div>
      <div class="brandname">RRL</div>
      <div class="logo">  <%= image_tag("logo.png") %> </div>

    </header>
    <% if session[:user_id] %>
      <%= render partial: "layouts/nav", locals: { session: session } %>
    <% end %>

    <div class="yield">
      <% if session[:user_id] %>
        <div class="user-details">
          <p><%= User.find(session[:user_id]).first_name[0] %>. <%= User.find(session[:user_id]).last_name %></p>
          <%= form_tag(session_path(session[:user_id]), method: "delete") do %>
            <%= submit_tag "logout" %>
          <% end %>
        </div>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
